<a href="https://colab.research.google.com/github/ayuksekdag/ingest_python/blob/main/ingest_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import necessary libraries
import os
from pyspark.sql.functions import udf, col
from pyspark.sql.types import IntegerType

# get list of tables from SQL, for MySQL syntax you can use just SHOW TABLES
df_tables = spark.read.jdbc(url=os.environ['SQL_JDBC_URL'], table="""(SELECT
  *
FROM
  SYSOBJECTS
WHERE
  xtype = 'U') x""")

# register function
def create_df(table):

  globals()[table] = spark.read.jdbc(url=os.environ['SQL_JDBC_URL'], table=table)
  return globals()[table].count()

# for each name from table list create dataframe using function
for value in df_tables.select("name").collect():
  create_df(value['name'])